<h1>Restaurants</h1>
<div class='row'>
<% @restaurants.each do |r| %>
  <div class="card m-3" style="width: 18rem;">
    <img class="card-img-top" src="https://source.unsplash.com/random/?restaurant" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= r.name %></h5>
      <p class="card-text"><%= r.address %> | <%= r.phone_number %> | <%= r.category %></p>
      <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
      <%= link_to 'See more >', restaurant_path(r.id), class: 'btn btn-primary'  %>
    </div>
  </div>
<% end %>
</div>
  <%# <% raise %> %>
